<table class="aui" id="mapping">
						<thead>
							<tr>
								<th>$i18n.getText("jira.project")</th>
								<th>$i18n.getText("jira.issuetype")</th>
								<th>$i18n.getText("uv.forum")</th>
								<th>$i18n.getText("uv.type")</th>
								<th>$i18n.getText("allowed.status")</th>
								<th>$i18n.getText("sync.prior.entities")</th>
								<th></th>
								<th></th>
							<tr>
						</thead>
						<tbody>
							#foreach($mapping in $mappings)
								<tr id="mappingRowNumber_$velocityCount">
									<td>$mapping.jiraProject</td>
									<td>
										<select class="select">
											#foreach($issuetype in $issuetypeCache)
												<option value="$issuetype.id" #if($issuetype.getId().toString().equals($mapping.getJiraIssueType())) selected #end>$issuetype.name</option>
											#end
										</select>
									</td>
									<td>$mapping.uvForum</td>
									<td>
										<select class="select"><option value="Feedback">Feedback</option></select>
									</td>
									<td>
									    <input class="text" type="text" name="allowedStatus" id="allowedStatus" #if ($action.getAllowedStatuses($mapping)) value="$action.getAllowedStatuses($mapping)" #end size="70"/>
									</td>
									<td>
                                        <input type="checkbox" name="syncPriorEntities" id="syncPriorEntities" #if($action.isSyncPriorEntities($mapping)) checked #end value="Yes" />
									</td>
                                    <td>
									    <span class="aui-button" onClick="removeMappingRow($velocityCount);">Remove</span>
									</td>
                                    <td id="$mapping.ID">
										<a class="cancel" title="$i18n.getText("configure.mapping.description")" href="$requestContext.baseUrl/secure/admin/ConfigureMapping!default.jspa?id=$mapping.ID">
										#if(!$action.isConfigured($mapping))
                                        	<span class="aui-icon aui-icon-error" title="Mapping not configured yet">Error</span>
                                        #end
										$i18n.getText("configure.mapping")
										</a>
									</td>
								</tr>
							#end
						</tbody>
					</table>
					<div class="buttons-container form-footer">
                                        				<div class="buttons">
                                        					<input id="save_btn" class="aui-button aui-button-primary" type="button" value="$i18n.getText("map.forums.save")">
                                        				</div>
                                        			</div>
                                        			<select name="issuetype" id="issuetype" style="visibility:hidden;">
                                        				#foreach($issuetype in $issuetypeCache)
                                        					<option value="$issuetype.id">$issuetype.name</option>
                                        				#end
                                        			</select>
                                        			<input type="hidden" name="jsonMapping" id="jsonMapping"/>